/* Main Stylesheet */

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCBF49;
}

header {
  position: relative;
  z-index: 3;
}

header img {
  left: 50%;
  margin: 20px 0 0 -110px;
  position: absolute;
  width: 300px;
}

header a {
  background-color: #fd890e;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 1.3rem;
  height: 30px;
  left: 50%;
  margin: 190px 0 0 -87.5px;
  padding: 5px 15px 5px 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: 0.3s all ease;
  width: 160px;
  z-index: 7 !important;
}

header a:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3 all ease;
  transform: scale(1.05);
}

hr {
  background-color: black;
  border: none;
  color: black;
  height: 2px;
  margin: 10px 0;
}

main {
  align-items: center;
  display: grid;
  grid-template-areas: "center";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 80vh;
  justify-items: center;
  width: 100%;
  z-index: 2;
}

ul {
  list-style-type:none
}

.lowerItems {
  margin-top: 30px;
}

#backgroundColorSection {
  background-color: white;
  height: 255px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#folderTab {
  background-color: #FCBF49;
  border-top-right-radius: 25px;
  height: 70px;
  margin: -50px 0 0 0px;
  position: absolute;
  width: 300px;
  z-index: 4;
}

#folderTabBR {
  background-color: #FCBF49;
  height: 25px;
  margin: -15px 0 0 290px;
  position: absolute;
  width: 40px;
  z-index: 4;
}

#folderTabWhite {
  background-color: white;
  border-bottom-left-radius: 25px;
  height: 25px;
  margin: -15px 0 0 300px;
  position: absolute;
  width: 40px;
  z-index: 4;
}

#mainContent {
  grid-area: center;
  margin-top: 200px;
  width: 100%;
}

#mainContent h2 {
  font-size: 2.3rem;
  margin-left: 20px;
  position: relative;
  width: 300px;
  z-index: 5;
}

#setList {
  text-align: center;
  margin: 60px auto 0 auto;
  width: 800px;
}

#setList a {
  background-color: #fd890e;
  border-radius: 10px;
  color: white;
  display: block;
  font-size: 1.4rem;
  height: 50px;
  padding: 20px 0 0 0;
  text-decoration: none;
  transition: 0.3s all ease;
  width: 800px;
}

#setList a:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
  transition: 0.3s all ease;
}