/* Output Stylesheet */

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCBF49;
}

header h1 {
  font-size: 3rem;
  left: 50%;
  margin: 25px 0 0 -175px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 350px;
}

main {
  display: grid;
  grid-template-areas: 
  "questions questions questions answers";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  height: 80vh;
  margin-top: 15vh;
  width: 100%;
}

ol {
  list-style-position: inside;
}

ol li {
  margin-top: 20px;
}

nav a {
  color: black;
  font-size: 2rem;
  left: 10px;
  position: absolute;
  text-decoration: none;
  top: 10px;
  z-index: 2;
}

.blurText {
  filter: blur(5.5px);
  transition: 0.2s all ease;
}

.blurText:hover {
  cursor: pointer;
  filter: blur(0px);
  transition: 0.2s all ease;
}

.userGuess {
  background-color: rgb(235, 235, 235);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  border-radius: 3px;
  font-size: 1.3rem;
  height: 22px;
  padding: 4px 8px;
  width: 200px;
}

.userGuess:focus {
  border: 1px solid green;
  border-radius: 5px;
  outline: none;
}

#submitAnswers {
  background-color: rgb(163, 163, 163);
  border: none;
  border-radius: 10px;
  color: white; 
  font-size: 1.3rem;
  height: 40px;
  float: right;
  margin: 60px auto 0 auto;
  transition: 0.3s all ease;
  width: 200px;
}

#submitAnswers:hover {
  background-color: rgb(182, 182, 182);
  cursor: pointer;
  transition: 0.3s all ease;
  transform: scale(1.05);
}

#testAnswers {
  background-color: white;
  border-radius: 20px;
  font-size: 1.5rem;
  grid-area: answers; 
  margin: 40px 40px 40px 25px;
  padding: 20px;
  text-align: center;
  transition: 0.3s all ease;
}

#testQuestions {
  background-color: white;
  border-radius: 20px;
  font-size: 1.5rem;
  grid-area: questions;
  line-height: 2.5rem;
  margin: 40px 25px 40px 40px;
  padding: 30px;
  text-align: justify;
  transition: 0.3s all ease;
}

#testQuestions:hover {
  transform: scale(1.01);
  transition: 0.3s all ease;
}

#testAnswers:hover {
  transform: scale(1.02);
  transition: 0.3s all ease;
}