/* CSS For Text_Input.html */

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCBF49;
}

input:focus,
textarea:focus {
  outline: none;
}

header h1 {
  color: black;
  margin-left: -100px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 200px;
}

nav a {
  color: black;
  font-size: 2rem;
  left: 10px;
  position: absolute;
  text-decoration: none;
  top: 10px;
  z-index: 2;
}

#mainBodyGrid {
  align-items: center;
  display: grid;
  grid-template-areas: "center";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 90vh;
  justify-items: center;
  position: relative;
  width: 100%;
}

#submitBtn {
  color: rgb(0, 0, 0, 0.6);
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  height: 40px;
  margin: 20px 0 0 240px;
  transition: 0.2s all ease;
  width: 150px;
}

#submitBtn:hover {
  color: black;
  cursor: pointer;
  transition: 0.2s all ease;
  transform: scale(1.05);
}

#userInput {
  background-color: rgb(255, 255, 255, 0.85);
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  grid-area: "center";
  height: 400px;
  margin-top: 90px;
  padding: 15px;
  transition: 0.4s all ease;
  width: 600px;
}

#userInput:focus,
#userInput:hover {
  background-color: white;
  transform: scale(1.03);
  transition: 0.4s all ease;
}

#userInput:hover {
  cursor: pointer;
}